.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.apk
.ap_
.class
bin/
local.properties
Thumbs.db
.classpath
.project
.idea
app/src/main/obj/

## Mac OS X
.DS_Store
__MACOSX

# irb
.irb-history

Gemfile.lock

# binaries
#*.ipa
#*.app
#*.apk
